
.vs/MetaPasarela
.vs/config

MetaPasarela/obj
MetaPasarela/bin

Meta.Entities/obj
Meta.Entities/bin

Meta.Repository/obj
Meta.Repository/bin

MetaPasarela/ClientApp/node_modules


MetaPasarela/ClientApp/package-lock.json

